h1,p {
    text-align: center;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(image2.jpg);
    background-size: cover;
}

.container {
    width: 50%;
    margin: 0 auto;
    background-color: #ffffff64;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

form {
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bolder;
    color: #333;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], select, textarea {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cccccc00;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    font-family: 'Poppins', sans-serif;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 5px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    display: block;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

fieldset {
    border: none;
    margin: 0;
}